USE [master]
GO
/****** Object:  Database [VISA_BULLETIN_IMPORT]    Script Date: 25-05-2022 15:29:09 ******/
CREATE DATABASE [VISA_BULLETIN_IMPORT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VISA_BULLETIN_IMPORT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VISA_BULLETIN_IMPORT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VISA_BULLETIN_IMPORT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VISA_BULLETIN_IMPORT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VISA_BULLETIN_IMPORT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VISA_BULLETIN_IMPORT]
GO
/****** Object:  Table [dbo].[VisaBulletinData]    Script Date: 25-05-2022 15:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisaBulletinData](
	[Visa_Bulletin_Month_and_Year] [nvarchar](max) NULL,
	[Priority_Category] [nvarchar](max) NULL,
	[Priority_Country] [nvarchar](max) NULL,
	[Priority_Type] [nvarchar](max) NULL,
	[Priority_Date] [nvarchar](max) NULL,
	[Priority_Processing_Category] [nvarchar](max) NULL,
	[USCIS_Filing_Cut_off] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
